@import "bootstrap-custom";
@import "variables";
h2 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    padding-top: 40px;
    margin: 2em;
}
body,
button,
input[text] {
    color: #888;
    font-family: Cambria, Georgia;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
