<h2>Home</h2>
<p>
    <a href="https://github.com/rodrigoff/ng2">Repository</a>
</p>

<p>Angular2 integration with GitHub API.</p>
<p>Based off of angular2-toh sample app from angular.io.</p>

<h4>Planned features</h4>
<ul>
    <li>Users list</li>
    <li>User detail
        <ul>
            <li>User info</li>
            <li>User repositories</li>
            <li>User gists</li>
        </ul>
    </li>
    <li>Repositories list</li>
    <li>Repository detail</li>
</ul>
