<div *ngIf="user">
    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <img [src]="user.avatar_url" class="img-thumbnail img-responsive img-circle">
        </div>
        <div class="col-xs-8 col-sm-10">
            <a [href]="user.html_url"><h3>{{user.login | uppercase}}</h3></a>
            <p>Name: {{user.name}}</p>
            <p>Location: {{user.location}}</p>
            <p>Member since: {{user.created_at}}</p>
            <p>Blog: {{user.blog}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-2">

        </div>
        <div class="col-xs-8 col-sm-10">
            <h3>Repositories</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn bt-primary" (click)="goBack()">Back</button>
        </div>
    </div>
</div>
