<div class="row">
    <div *ngFor="#user of users" class="col-xs-4 col-sm-2 user" (click)="gotoUserDetail(user.login)">
        <img [src]="user.avatar_url" class="img-thumbnail img-responsive img-circle">
        <h3 class="text-center">{{user.login}}</h3>
        <hr>
    </div>
</div>
